<p>parent works!</p>
<h1>This is parent class</h1>

<label for="">Please Enter the Parent Name : </label>
<br />
<input type="text" [(ngModel)]="parentName">
<hr />

<h2>My Child Name is : {{ childname }}</h2>
<hr />

<button class="btn btn-dark m-3" (click)="Onchild1buttonclicked()">show child1</button>
<button class="btn btn-dark m-3" (click)="Onchild2buttonclicked()">show child2</button>
<hr />

<div>
    <router-outlet></router-outlet>
</div>
<!-- <div class="text-center" style="color: chartreuse; background-color: darkolivegreen;">
    <app-child1 [parentNameinchild]="parentName" (onchildnameChange)="onchildnamechangeinparent($event)"></app-child1>
</div> -->
