<div class="container-float">
  <div class="container">
    <h1>Hi, This is simple forms and validation of the angular</h1>
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="contact">Contact Us</a>
    <a routerLink="about">About Us</a>
    <a routerLink="templetedriven">templetedriven</a>
    <a routerLink="reactive">reactive</a>
    <a routerLink="paswordmatch">passwordmatch</a>
    <a routerLink="binding">binding</a>
    <a routerLink="parent">parent</a>
    <a routerLink="child1">child1</a>
    <a routerLink="child2">child2</a>
    <br/>
    <hr />

    <router-outlet></router-outlet>
  </div>
  <!-- <hr />
  <div class="container">
    <app-templetedriven1></app-templetedriven1>
  </div>
  <hr />
  <div class="container">
    <app-reactive1></app-reactive1>
  </div>
  <hr />
  <div class="container">
    <app-passwordmatch1></app-passwordmatch1>
  </div> -->
</div>