<div style="background-color: antiquewhite;">
    <h1 class="text-primary text-center">Simple Password Matching</h1>
    <form #conformForm="ngForm">
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" name="password" id="password" [(ngModel)]="registerArray.password" #Password="ngModel" [pattern]="passwordPtn" minlength="3" maxlength="8" required>
                <div class="error-meg text-danger" *ngIf="(Password.touched || conformForm.submitted) && Password.errors?.['required']">
                    Password required
                </div>
                <div class="error-meg text-danger" *ngIf="(Password.touched || conformForm.submitted) && Password.errors?.['pattern']">
                    Password must be 3 - 8  charactors and should contain letters, numbers, special charactors and capital letter
                </div>
            </div>
            <div class="col-md-6 offset-md-3 mb-3">
                <label for="conformpassword" class="form-label">Conform Password</label>
                <input type="text" class="form-control" name="conformpassword" id="conformpassword" [(ngModel)]="registerArray.conformpassword" #ConformPassword="ngModel" [pattern]="passwordPtn" minlength="3" maxlength="8" required>
                <div class="error-meg text-danger" *ngIf="(ConformPassword.touched || conformForm.submitted) && ConformPassword.errors?.['required']">
                    Conform Password required
                </div>
                <div class="error-meg text-danger" *ngIf="(ConformPassword.touched || conformForm.submitted) && registerArray.password !== registerArray.conformpassword">
                    Password & conform password should be same
                </div>
            </div>
            <div class="col-md-6 offset-md-3 mb-3">
                <button class="btn btn-warning" type="submit">submit</button>
            </div>
        </div>
    </form>
</div>
<hr />
<div style="background-color: rgb(253, 229, 89);">
    <h1 class="text-danger text-center">Another Password Matching using reactive form</h1>
    <form [formGroup]="anotherregisterForm" (ngSubmit)="anotherFormValidation()">
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-3">
                <input type="text" class="form-control" name="username" id="username" placeholder="User Name" required formControlName="username">
                <div class="text-danger" *ngIf="(submitted || f['username'].touched) && f['username'].invalid">
                    <div class="text-danger" *ngIf="f['username'].errors && f['username'].errors['required']">
                        Username is Required
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3 mb-3">
                <input type="text" class="form-control" name="password" id="password" placeholder="Password" required formControlName="password">
                <div class="text-danger" *ngIf="(submitted || f['password'].touched) && f['password'].invalid">
                    <div class="text-danger" *ngIf="f['password'].errors && f['password'].errors['required']">
                        Password is Required
                    </div>
                    <div class="text-danger" *ngIf="f['password'].errors && f['password'].errors.minlength">
                        Password at least 4 characters
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3 mb-3">
                <input type="text" class="form-control" name="conformpassword" id="conformpassword" placeholder="Conform Password" required formControlName="conformpassword">
                <div class="text-danger" *ngIf="(submitted || f['conformpassword'].touched) && f['password'].invalid">
                    <div class="text-danger" *ngIf="f['conformpassword'].errors && f['conformpassword'].errors['required']">
                        Conform Password is Required
                    </div>
                    <div class="text-danger" *ngIf="f['conformpassword'].errors && f['conformpassword'].errors.MustMatch">
                        Conform Password not match
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3 mb-3 text-center">
                <button type="submit" class="btn btn-danger">submit</button>
            </div>
        </div>
    </form>
</div>